<div class="song-page-box">
  <section class="upload-box">
    <h3 class="start-script">Start by Adding a Song!</h3>
    <div class="form-container">
      <div class="form-box">
        <%= form_for @song do |f| %>

        <%= f.label :audio, id: "audio-upload-title"%>
          <%= f.file_field :audio, class: "audio-title", id: "song_audio audio-title" %>

          <%= f.label :title, id: "audio-upload-title"%>
          <%= f.text_field :title %>

          <%= f.submit "Add Song", id: "song_audio" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
