<section class="upload-box">
  <h3>Start by Adding a Song!</h3>
  <div class="form-box">
    <%= form_for @song do |f| %>

      <%= f.file_field :audio, id: "song_audio" %>
      <%= f.label :audio %>

      <%= f.text_field :title %>
      <%= f.label :title %>

      <%= f.submit "Add Song", id: "song_audio" %>
    <% end %>
  </div>
</section>
