<section class="song-page-box">
  <div class="song-page-content-box">

    <div class="audio-player-box">
      <audio id="myAudio" controls>
        <source src=<%= @song.s3_path %></source>
      </audio>
    </div>

    <div id="playback-rate-form-box">
      <form id="playback-rate-form">
        <input id="playback-rate" type="range" value="1"
                        min="0.1" max="1" step="0.01" />
        <p>Playback Rate: <span id="currentPbr">1</span></p>
      </form>
    </div>

  </div>
  <div class="playlist-form-box">
    <section class="upload-box">
      <h3>Add Another Song</h3>
      <div class="form-box">
        <%= form_for @new_song do |f| %>

        <%= f.file_field :audio, id: "song_audio" %>
        <%= f.label :audio %>

        <%= f.text_field :title %>
        <%= f.label :title %>

        <%= f.submit "Add Song", id: "song_audio" %>
        <% end %>
      </div>
    </section>

    <section class="playlist-box">
      <h3 id="song-list">Songs</h3>
      <% @songs.each_with_index do |song, index| %>
        <ul class="list-group" >
          <li class="list-group-item list-group-item-action list-group-item-light">
            <span><%= index += 1 %></span>
            <%= link_to song.title, song_path(song) %>
            </li>
        </ul>
      <% end %>
    </section>
  </div>
</section>

<script>
  window.onload = function () {

    var v = document.getElementById("myAudio");
    var p = document.getElementById("playback-rate");
    var c = document.getElementById("currentPbr");

    p.addEventListener('input',function(){
      c.innerHTML = p.value;
      v.playbackRate = p.value;
    },false);

  };
</script>
